{
    "extends": "airbnb-base",
    "env": {
      "browser": true,
      "jquery": true
    },
    "rules": {
      "no-plusplus": 0,
      "prefer-template": 0,
      "radix": 0,
      "no-console": 0
    }
}
