@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
  font-family: 'Pacifico', cursive;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

table {
  font-size: 30px;
  margin: auto;
}

td, th {
  text-align: left;
  padding: 10px;
}

.santaGame {
  display:block;
  width: 800px;
  height: 600px;
  margin: 0 auto;
}

.highscore {
  position: absolute;
  width: 800px;
  height: 600px;
  background: rgba(255, 255, 255, 0.5);
}

.hidden {
  display: none;
}

.container {
  width: 800px;
  margin: auto;
}
